body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url(lago\ roxo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
   
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: rgb(59, 59, 58);
}

header img {
    width: 80px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

nav {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav li {
    display: inline-block;
    margin-right: 10px;
    
    
}

nav li a {
    text-decoration: none;
    color: #000;
}

.produtos {
    margin-bottom: 20px;
    
}

.produtos h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    
    
}

.card {
    border: 1px solid #070606;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: aliceblue;
}
.meucard{
    display: flex;
    
}
section{
     max-width: 1200px;
    width: 100%;
    margin: 0 auto;display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   

}
#image{
    height: 120px;
    
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
  }
.linha{
    display: inline;
    flex-direction: row;
}
  
.row {
    max-width: 768px;
    width: 100%;
    display: flex;
   
    
  }
button{
    background-color: red;
}
footer{
    background-color: rgb(70, 70, 66);
    display: flex;
    justify-content: space-around;
}
footer ul li{
    list-style: none;
    
    
}
footer ul{
    display: flex;
    gap: 50px;
}
  